<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="center.raccoon.oauth2.project.mapper.PermissionMapper">
<!--   类属性名和表字段名的映射-->
    <resultMap id="BaseResultMap" type="center.raccoon.oauth2.project.model.Permission">
        <id column="p_id" property="permissionId" jdbcType="INTEGER"></id>
        <result column="permission_type" property="permissionType" jdbcType="INTEGER"></result>
        <result column="permission_name" property="permissionName" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="DATE"></result>
        <result column="update_time" property="updateTime" jdbcType="DATE"></result>
        <result column="create_user" property="createUser" jdbcType="INTEGER"></result>
        <result column="update_user" property="updateUser" jdbcType="INTEGER"></result>
    </resultMap>
<!--   定义sql块-->
    <sql id="Base_Column_List">
        p_id ,permission_type , permission_name, create_time ,update_time ,create_user ,update_user
    </sql>

    <!--根据用户ID获取用户权限-->
    <select id="getPermissionByUserId" resultMap="BaseResultMap">
        select
        p.*
        from sys_user as u
        left join sys_user_role as ur
        on u.u_id=ur.user_id
        left join sys_role as r
        on ur.role_id=r.r_id
        left join sys_role_permission as rp
        on r.r_id=rp.role_id
        left join sys_permission as p
        on rp.permission_id=p.p_id
        where u.u_id=#{userId}
    </select>
</mapper>